.table-cell {
    flex: 1;
    padding: 5px;

  
}



.add-shelf-btn, .add-product-btn {
    background-color: #9E9EFF;
    color: #1E1E2E;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.delete-icon {
    color: #FF6347;
    cursor: pointer;
    font-size: 14px;
    margin-left: 5px;
}

.delete-icon:hover {
    color: black;
}
